<!DOCTYPE html>
<html>
<body>

<h1>Edit a new journal entry:</h1>
<form action="{% url 'journal_app:edit' %}" method="post">{% csrf_token %}
    <label for="title">Change title: </label>
    <input id="title" type="text" name="title" value="journal title.">
    <label for="url">Change url: </label>
    <input id="url" type="text" name="url" value="url for journal.">
    <label for="software">Change softwares used: </label>
    <input id="software" type="text" name="software" value="Softwares used.">
    <label for="notes">Add notes: </label>
    <input id="notes" type="text" name="notes" value="Notes.">
    <input type="submit" value="OK">
</form>
</body>
</html>
