<!DOCTYPE html>
<html>
<body>

<h1>Create a new journal entry:</h1>
<p>My first paragraph.</p>
<form action="{% url 'journal_app:create' %}" method="post">{% csrf_token %}
    <label for="title">Enter title: </label>
    <input id="title" type="text" name="title" value="journal title.">
    <label for="url">Enter url: </label>
    <input id="url" type="text" name="url" value="url for journal.">
    <label for="software">Enter softwares used: </label>
    <input id="software" type="text" name="software" value="Softwares used.">
    <label for="notes">Enter notes: </label>
    <input id="notes" type="text" name="notes" value="Notes.">
    <input type="submit" value="OK">
</form>
</body>
</html>
