<!DOCTYPE html>
<html>
<body>

<h1>Journals</h1>

<a href="{% url 'journal_app:create' %}"> Create New Journal Entry</a>


<h2> Apply Some Filters</h2>
<form method = "POST">
   {{ form }}
   <input type = "submit" value = "Submit">
</form>

<a href="{% url 'journal_app:index' %}"> Go Back</a>


<table>
    <thead>
       <tr>
          <th>Title</th>
          <th>URL</th>
          <th>Software</th>
          <th>Notes</th>
       </tr>
    </thead>

    <tbody>
       {% for journal in Journals %}
       <tr>
          <td>{{ journal.title }}</td>
          <td>{{ journal.url }}</td>
          <td>{{ journal.software }}</td>
          <td>{{ journal.notes }}</td>
          <td><a href="{% url 'journal_app:edit' journal.id %}"> edit</a></td>
          <td><a href="{% url 'journal_app:delete' journal.id %}"> delete</a></td>
       </tr>
       {% endfor %}
    </tbody>
 </table>


</body>
</html>